<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}BURGER TIME!{{else}}Devour Time!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
