<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newBurger="{{devoured}}">
		{{#if devoured}}BURGER TIME!{{else}}Devour Time!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
